@page
@inject Microsoft.Extensions.Configuration.IConfiguration _config;
<!-- Skills -->
<section class="page-section" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Skills &amp; Tech</h2>
                <h3 class="section-subheading text-muted"> An overview of some of the roles I have experienced and technologies that I use the most. Many of them are used on this website.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Software Development</h4>
                <p class="text-muted">I have been developing applications professionally for over @(DateTime.Now.Year - 2008) years. I have experience with web and mobile development and have worked mainly in the medical and education fields.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Team Lead</h4>
                <p class="text-muted">Bringing people together to work towards the common goal of developing and delivering highly scalable and stable applications to our customer base.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-tachometer-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Architecture</h4>
                <p class="text-muted">Experienced in software design patterns, scalable architecture best practices, and administration of these methodoligies in enterprise environments.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title">Technologies</h4>
                        <span class="badge badge-pill badge-secondary">C#</span>
                        <span class="badge badge-pill badge-secondary">.NET Core</span>
                        <span class="badge badge-pill badge-secondary">MVC</span>
                        <span class="badge badge-pill badge-secondary">JavaScript</span>
                        <span class="badge badge-pill badge-secondary">JS Frameworks</span>
                        <span class="badge badge-pill badge-secondary">SQL</span>
                        <span class="badge badge-pill badge-secondary">SSRS</span>
                        <span class="badge badge-pill badge-secondary">Restful API's</span>
                        <span class="badge badge-pill badge-secondary">Web Services</span>
                        <span class="badge badge-pill badge-secondary">Bootstrap</span>
                        <span class="badge badge-pill badge-secondary">Xamarin Forms</span>
                        <span class="badge badge-pill badge-secondary">HL7</span>
                        <span class="badge badge-pill badge-secondary">Mirth (NextGen Connect)</span>
                        <span class="badge badge-pill badge-secondary">EDI X12</span>
                        <span class="badge badge-pill badge-secondary">BizTalk</span>
                        <span class="badge badge-pill badge-secondary">AWS/Azure</span>
                        <span class="badge badge-pill badge-secondary">Git/TFS</span>
                        <span class="badge badge-pill badge-secondary">Identity Server</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<!-- Experience -->
<section class="page-section" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Work Experience</h2>
                <h3 class="section-subheading text-muted">A list of companies that I have worked for and my duties there.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="vueWorkHistory">
                    <div v-if="errored" class="text-center">
                        <p>Well, this is embarrasing. There has been an error somehow.<i class="far fa-2x fa-frown"></i></p>
                    </div>
                    <div v-else>
                        <div v-if="loading" class="text-center">Loading data from API... <i class="fas fa-2x fa-cog fa-spin"></i></div>
                        <ul v-else class="timeline">
                            <li v-for="(job, index) in workHistory" v-bind:class="{'timeline-inverted' : index % 2 !== 0}">
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid" v-bind:src="job.logoUrl" />
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h5>{{ job.employer }}</h5>
                                        <h6>{{job.position}}</h6>
                                        <div><i class="fas fa-globe-americas"></i>&nbsp;{{ job.location }}</div>
                                        <div><i class="far fa-calendar"></i>&nbsp;{{ job.dateRange }}</div>
                                    </div>
                                    <div class="timeline-body">
                                        <table class="table table-hover table-sm">
                                            <tr v-for="desc in job.bulletPoints">
                                                <td v-if="desc.text === 'Presidents Award'" class="text-muted small">
                                                    <strong>
                                                        <i class="fas fa-trophy"></i>&nbsp;
                                                        2011 President's Recognition Award-
                                                    </strong>
                                                    Presented to a select few institutional employees for outstanding service during the year.
                                                </td>
                                                <td v-else class="text-muted small"><i class="fas fa-caret-right"></i>&nbsp;{{ desc.text }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                @section Scripts{
                    <script>
                        var vueApp = new Vue({
                            el: '#vueWorkHistory',
                            data() {
                                return {
                                    workHistory: null,
                                    loading: true,
                                    errored: false
                                }
                            },
                            mounted() {
                                axios
                                    .get("/api/WorkHistory")
                                    .then(response => (this.workHistory = response.data))
                                    .catch(error => {
                                        console.log(error)
                                        this.errored = true
                                    })
                                    .finally(setTimeout(() => {
                                        this.loading = false
                                    }, 2000))
                            }
                        })
                    </script>
                }
            </div>
        </div>
    </div>
</section>
<hr />
<!-- About -->
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">Just a few words about me and my family.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img class="rounded-circle img-fluid" src="~/img/tompro.png" />
            </div>
            <div class="col-md-8">
                <p class="text-muted">
                    I was born and raised in coastal Georgia just outside of Savannah. From a young age I was interested in fixing and tinkering with things. Although I didn't appreciate it at the time, we never had cable TV in the house. This lead to spending more time tinkering with the family computer, an IBM PC clone, complete with dual 5.25" floppy drives and green monochrome adapter. I was fasciniated that I could make it do whatever I told it to. I remained a computer enthusiast for quite a while but didn't consider making a professional career out of it until taking a Java class and having the spark reignited.
                </p>
                <p class="text-muted">
                    I moved to Atlanta @(DateTime.Now.Year - 2005) years ago. My wife, Lara, and I have been married for @(DateTime.Now.Year - 2007) years and we have two daughters. In my free time, I like to work in the yard when it is nice outside or maybe catch up on some reading when the weather isn't so good. I can still be found tinkering with things, whether this involves fixing a friend’s computer or taking on a big project in the renovations of our house.
                </p>
            </div>
        </div>
    </div>
</section>
<hr />
<!-- Contact -->
<section class="page-section" id="contact">
    <div class="container">
        <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contact</h2>
                    <h3 class="section-subheading text-muted"><i class="fas fa-2x fa-envelope-open"></i>&nbsp; <a href="mailto:tom@tomhutson.com">tom@tomhutson.com</a> or use the form below to reach out.</h3>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="3" placeholder="Message"></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <div class="col-lg-12 text-center">
                <div id="success"></div>
                <div class="g-recaptcha" data-sitekey="@_config["GoogleReCaptcha:key"]"></div>
                <button id="sendMessageButton" class="btn btn-primary text-uppercase" type="submit">Send Message</button>
            </div>
        </form>
    </div>
</section>
