<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">
                Welcome <i class="far  fa-2x fa-comment"></i>
            </div>
            <div class="intro-main-text">Thank you for taking the time to visit my resume site.</div>
            <div class="intro-body">
                <p>
                    My name is Tom and I am a software engineer in the Atlanta area. I have put together this site to briefly highlight my professional career and skills.
                    I have made this site as informative as possible but I also wanted to keep things concise. If you need more information, just send me an email and ask.
                </p>
                <p>
                    Thanks!
                </p>
                <img src="~/img/sig.png" />
            </div>
            <a class="btn btn-primary text-uppercase js-scroll-trigger" href="https://github.com/thutson/TomsResumeCoreRepo" target="_blank">
                <i class="fab fa-2x fa-github"></i>&nbsp;View Source On GitHub
            </a>
            <a class="btn btn-primary text-uppercase js-scroll-trigger" href="https://dev.azure.com/thutson79/TomsResumeCoreRepo/_build?definitionId=1" target="_blank">
                <i class="fab fa-2x fa-microsoft"></i>&nbsp;CI and Hosting with Azure
            </a>
        </div>
    </div>
</header>
