<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; TomHutson.com @DateTime.Now.Year</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/tom-hutson-98317347/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a data-toggle="modal" href="#privacyTermsModal">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a data-toggle="modal" href="#privacyTermsModal">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>